body {
  background-color: #2a294a;
}
.content {
  padding: 10px 100px 50px;
}
@media only screen and (max-width: 600px) {
  .content {
    padding: 10px 10px 50px;
  }
}

.row {
  display: flex;
  justify-content: center;
  align-items: normal;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

.col {
  flex: 50%;
  padding: 20px;
  font-family: "Josefin Sans", sans-serif;
}
@media only screen and (max-width: 600px) {
  .col {
    flex: 100%;
    padding: 15px;
  }
}

.swe {
  color: #ffffff;
}
.ger {
  color: #c4c4c4;
}
.image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.amanda {
  background-image: url(../img/amanda2.jpeg);
}
.nils {
  background-image: url(../img/nils.jpeg);
}
.clara {
  background-image: url(../img/clara.jpg);
}
.victor {
  background-image: url(../img/victor.jpeg);
}
.fabian {
  background-image: url(../img/fabian.jpeg);
}
.lotta {
  background-image: url(../img/lotta.jpg);
}
.kontakter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  padding: 10px 20px 50px;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .kontakter {
    flex-direction: column;
    flex-wrap: unset;
    align-items: center;
  }
}
.info {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: opacity 100ms ease-in;
}
.info:hover {
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .info {
    opacity: 1;
  }
}

.kontakt {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  width: 33%;
  height: 250px;
  font-family: "Josefin Sans", sans-serif;
}
@media only screen and (max-width: 600px) {
  .kontakt {
    width: 350px;
  }
}
.kontakt p {
  margin: 5px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "League Script", cursive;
  color: #e2c5b7;
  text-align: center;
}

h1 {
  font-size: 74px;
}
h2 {
  color: #e2c5b7;
  font-family: "League Script", cursive;
  font-size: 34px;
}
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "League Script", cursive;
  color: #e2c5b7;
  padding: 50px 100px 10px;
}
@media only screen and (max-width: 600px) {
  .section {
    padding: 50px 20px 10px;
  }
}
strong {
  color: #e2c5b7;
}
li,
p {
  line-height: 25px;
}
li {
  margin-bottom: 10px;
}
a {
  color: #e2c5b7;
}

.footer {
  align-items: center;
}

.footer-img {
  width: 40%;
}
@media only screen and (max-width: 600px) {
  .footer-img {
    width: 90%;
  }
}

.sectionBackgroundDark {
  background-color: #2a294a;
}
.sectionBackgroundLight {
  background-color: #494884;
}
.cooleKante {
  border: #e2c5b7 2px dashed;
  border-radius: 25px;
  margin: 40px;
}
