body{
    background-color: #2A294A;
}
.content{
    padding: 10px 100px 50px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: normal;
}

.col{
    flex: 50%;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.swe{
    color: #ffffff;
}
.ger{
    color: #f9f9f9;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'League Script', cursive;
    color: #E2C5B7;
}
h1{
    font-size: 74px;
}
h2{
    color: #E2C5B7;
    font-family: 'League Script', cursive;
    font-size: 34px;
}
h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'League Script', cursive;
    color: #E2C5B7;
    padding: 50px 100px 10px;
}
strong{
    color: #E2C5B7;
}
li,p{
    line-height: 25px;
}
li{
    margin-bottom: 10px;
}
a{
    color: #E2C5B7;
}
.kontakter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}